<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type = "text/css" href="stylesheet.css">
<title>AI</title>
</head>

<body id="p">	
		<div align="center"> 
		<p>
		</p>
		<span style="font-size:100pt; color:#870F0F; font-family: 'Brush script MT'">
			<strong>Arte aaaaaInterativa</strong>
		</span><p>
	<a href="fase1.html" >
	 <button type="submit" style="width: 172px; height: 49px; ">COMECAR</button>
	</a>
	</p>
</div>
</body>
</html>