<!doctype html>
<html>
<head>
<meta charset="utf-8">
</head>
	<div align="center"> 

<body background="imagens/wallpaper.jpg">
	<h1>
			<span style="font-size:50pt; color:#870F0F; font-family: 'Brush script MT'">
	
	Nova Avaliacao
	</h1>
<form method= "post" action="/salva">
<input type="number" name="numero" placeholder="numero da avaliacao" autofocus>
<br>

<input type="text" name="nome" placeholder="nome">
<br>

<input type="number" name="nota" min="0" max="10" placeholder="nota">
<br>

<input type="submit" value="Salvar">
</body>

</form>
</div>
</html>